nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 30px;
  background-color: hsl(240, 33%, 4%);
}
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  
  font-size: 30px;
  font-weight: bold;
}
.logo-icon{
  color: hsl(247, 74%, 63%);
  font-size: 20px;
}
.nav-links{
  display: flex;
  gap: 45px;
}
.nav-links a{
  color: hsl(240, 12%, 75%);
  text-decoration: none;
  
  font-size: 20px;
  
  transition: 0.3s;
}
.nav-links a:hover{
  color: hsl(0, 0%, 100%);
}
.nav-link-button {
  border: none;
  background: none;
  color: hsl(240, 12%, 75%);
  font: inherit;
  cursor: pointer;
  transition: 0.3s;
}

.nav-link-button:hover {
  color: hsl(0, 0%, 100%);
}
.profile-button {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid hsl(240, 20%, 25%);
  border-radius: 50%;

  background-color: hsl(240, 33%, 13%);
  color: hsl(0, 0%, 100%);

  cursor: pointer;

  transition: 0.3s;
}

.profile-button:hover {
  border-color: hsl(247, 74%, 63%);
  background-color: hsl(240, 33%, 18%);
  color: hsl(247, 74%, 70%);
}

.auth-area{
  display: flex;
  align-items: center;
  gap: 10px;
}
.auth-links{
  display: flex;
  align-items: center;
  gap: 7px;
}
.auth-links button,
.account-button{
  border: none;
  background: none;

  color: hsl(240, 12%, 75%);
  font-size: 18px;
  font-family: inherit;

  cursor: pointer;
  transition: 0.3s;
}
.auth-links button:hover,
.account-button:hover{
  color: hsl(0, 0%, 100%);
}
.auth-links span {
  color: hsl(240, 10%, 40%);
}

.favorite-nav-button{
  border: none;
  background: none;
  color: hsl(240, 12%, 75%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.favorite-nav-button:hover{
  color: hsl(240, 12%, 85%);
}